ion-card.chessBoardCard {
  margin: 3px 5px;
  ion-row {
    ion-col {
      min-height: 50px;
      max-height: 50px;
      h1 {
        margin: 0; text-align: center; margin-top: 5px;
      }
      img {
        height: 40px; margin: 0 7px;
      }
    }
    // box column different than white
    ion-col.colouredBox {
      background-color: lightslategray;
    }
    ion-col.highlightedBox {
      background-color: lightgreen;
    }
    ion-col.freeBox {
      background-color: green;
    }
    ion-col.selectNewBoxColorForCreatingNewPawn{
      background-color: lightgreen;
    }
  }
}


ion-card.pawnRepordCard {
  margin: 10px 0 0 0;
  ion-item.selectedPawnItem {
    --padding-start: 0;
    ion-icon {
      margin: 5px
    }
  }
  div.pawnReportList {
    padding: 0;
    height: 300px;
    overflow-y: scroll;
    ion-item.outputItem {
      border: 1px solid grey;
      border-radius: 10px;
      position: absolute;
      bottom: 0;
      z-index: 9999;
    }
    ion-item {
      --padding-start: 5px;
      --inner-padding-end: 0;
    }
    ion-label {
      white-space: pre-wrap;
    }
  }
}

ion-grid.arrow-buttons {
  display: flex;
  justify-content: space-between;
  ion-button {
        --padding-start: 5px;
    --padding-end: 5px;
  }
}


ion-card.newPawnCard{
  margin: 5px;
  ion-item{
    ion-label{
      font-size: 14px;
      font-weight: bold;
    }
    ion-buttons{
      margin: 0px;
    }
  }
}

ion-segment {
  ion-segment-button.segment-button-checked {
    --indicator-color: var(--ion-color-primary) !important;
    color: white;
    ion-icon {color: white}
  }
}
