<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title> Chess Pawn Challenge </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Generate ChessBoard Card, Rows and Columns which will give a Box for each column -->
  <ion-card class="chessBoardCard" *ngIf="showChessBoard">
    <!-- initializing rows -->
    <ion-row *ngFor="let chessBoardRow of chessBoard; index as indexRow">
      <!-- initializing columns for each row -->
      <ion-col
        *ngFor="let chessBoardColumn of chessBoardRow; index as indexColumn"
        [ngClass]="
        {
          'colouredBox': addBoxColor(indexRow, indexColumn),
          'highlightedBox': showHighlightedBoxColor(indexRow, indexColumn),
          'freeBox': showFreeBoxAndCheckAvailablePawnStepsList(indexRow, indexColumn),
          'selectNewBoxColorForCreatingNewPawn': selectNewBoxColorForCreatingNewPawn(chessBoardColumn, indexRow, indexColumn)
        }"
        (click)="
          restrictMovement(chessBoardColumn, indexRow, indexColumn) ?
          $event.stopPropagation() :
          selectPawnOrMoveToOtherBox(chessBoardColumn, indexRow, indexColumn)
        "
      >
        <!-- h1 if there is an empty box selected to add a new PAWN -->
        <h1
          *ngIf="selectNewBoxColorForCreatingNewPawn(chessBoardColumn, indexRow, indexColumn)"
        >
          ?
        </h1>
        <!-- show image if chessBoardColumn is not empty -->
        <img
          *ngIf="chessBoardColumn != null"
          src="
            {{ chessBoardColumn.image }}
          "
          alt="no-img"
          (error)="errorHandler($event, indexRow, indexColumn)"
        />
      </ion-col>
    </ion-row>
  </ion-card>

  <!-- Pawn report, Turn and New Pawn Card -->
  <ion-grid>
    <ion-row>
      <!-- PAWN REPORT -->
      <ion-col size-xs="6">
        <ion-card class="pawnRepordCard">
          <ion-item class="selectedPawnItem" lines="full">
            <ion-icon slot="start" name="list-outline"></ion-icon>
            <ion-label>Pawn Report</ion-label>
          </ion-item>
          <div class="pawnReportList ion-padding ion-text-center">
            <div *ngIf="!selectedPawn">
              <h1>Select pawn to see logs!</h1>
            </div>
            <div *ngIf="selectedPawn && selectedPawn.logs.length == 0;">
              No logs!
            </div>
            <div *ngIf="selectedPawn && selectedPawn.logs.length > 0">
              <ion-item lines="full" class="outputItem">
                <ion-label>Output: output</ion-label>
              </ion-item>
              <ion-list>
                <ion-item
                  lines="full"
                  *ngFor="let log of selectedPawn.logs; index as logIndex"
                >
                  <ion-label>
                    <strong>{{ logIndex + 1 }}. &nbsp;</strong>{{ log }}
                  </ion-label>
                </ion-item>
              </ion-list>
            </div>
            <!-- to add blank space at the bottom and see other list of logs -->
            <div style="height: 100px"></div>
          </div>
        </ion-card>
      </ion-col>
      <!-- TRUN PAWN and NEW PAWN -->
      <ion-col size-xs="6">
        <!-- TURN BUTTONS -->
        <ion-grid class="arrow-buttons">
          <ion-button (click)="movePawnDirection(0)" [disabled]="!selectedPawn">
            <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
          </ion-button>
          <p>Turn</p>
          <ion-button (click)="movePawnDirection(1)" [disabled]="!selectedPawn">
            <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </ion-grid>
        <ion-card class="newPawnCard" *ngIf="isCreatingNewPawn">
          <ion-item lines="none">
            <ion-label>New Pawn</ion-label>
            <ion-buttons slot="end">
              <ion-button
                (click)="clearSelectedPawnAndIndexes()"
                color="danger"
              >
                <ion-icon slot="icon-only" name="close-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
          <ion-segment
            value="{{ selectedColor }}"
            (ionChange)="colorSelectorChanged($event)"
          >
            <ion-segment-button value="WHITE">
              <ion-label>WHITE</ion-label>
            </ion-segment-button>
            <ion-segment-button value="BLACK">
              <ion-label>BLACK</ion-label>
            </ion-segment-button>
          </ion-segment>
          <ion-item lines="none">
            <ion-label>Facing</ion-label>
            <ion-buttons slot="end">
              <ion-button color="primary">
                <ion-icon slot="icon-only" name="compass-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
          <ion-segment
            value="{{ selectedDirection }}"
            (ionChange)="directionSelectorChanged($event)"
          >
            <ion-segment-button value="0">
              <ion-icon name="arrow-up-outline"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="2">
              <ion-icon name="arrow-down-outline"></ion-icon>
            </ion-segment-button>
          </ion-segment>
          <ion-segment
            value="{{ selectedDirection }}"
            (ionChange)="directionSelectorChanged($event)"
          >
            <ion-segment-button value="1">
              <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="3">
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </ion-segment-button>
          </ion-segment>
          <br />
          <ion-button (click)="createNewPawn()" expand="block" color="success"
            >Create Pawn</ion-button
          >
        </ion-card>
        <ion-card
          class="new-pawn-text ion-padding ion-text-center"
          *ngIf="!isCreatingNewPawn"
        >
          <h3>Select an empty square to add a new Pawn</h3>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
