ion-card.chessBoardCard {
  margin: 3px 5px;
  ion-row {
    ion-col {
      min-height: 50px;
      max-height: 50px;
      h1 {
        margin: 0; text-align: center; margin-top: 5px;
      }
      img {
        height: 40px; margin: auto;
      }
    }
    // box column different than white
    ion-col.colouredBox {
      background-color: lightslategray;
    }
    ion-col.highlightedBox {
      background-color: lightgreen;
    }
    ion-col.freeBox {
      background-color: green;
    }
    ion-col.selectNewBoxColorForCreatingNewPawn{
      background-color: lightgreen;
    }
  }
}
